.food-munch-logo{
    height: 70px;
    width: 80px;
}
#navItem1{
color: #323f4b;
font-family: "Tahoma";
}
#navItem2{
color: #323f4b;
font-family: "Tahoma";
}
#navItem3{
color: #323f4b;
font-family: "Tahoma";
}
#navItem4{
color: #323f4b;
font-family: "Tahoma";
}
.banner-section-bg-container{
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
    height: 100vh;
    background-size: cover;
}
.banner-heading{
    color: white;
    font-family: "Tahoma";
    font-weight: 300;
}
.banner-caption{
    color: #f5faf6;
    font-family: "Tahoma";
    font-size: 24px;
    font-weight: 300;
}
.custom-button{
    color: white;
    background-color: #d0b200;
    border-radius: 8px;
    height: 45px;
    width: 135px;
    border-width: 0px;
    margin-right: 10px;

}
.custom-outline-button{
    height: 45px;
    width: 135px;
    border-radius: 8px;
    background-color: transparent;
    color: #d0b200;
    border-width: 1px;
    border-color: #d0b200;
    border-style: solid;

}
.wcu-bg-container{
    background-color: #f9fefb;
    padding: 15px 0;
}
.wcu-section-heading{
font-family: "Tahoma";
font-size: 28px;
font-weight: 700;
color: #183b56;
} 
.wcu-section-description{
    font-family: "Tahoma";
    font-size: 16px;
    font-weight: 700;
    color: #5a7184;
}
.wcu-card{
    background-color: white;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 16px;
    border-color: #e5eaf4;
}
.wcu-card-image{
    height: 90px;
    width: 85px;
}
.wcu-card-title{
    font-family: "Tahoma";
    color: #323f4b;
    font-weight: 500;
    font-size: 22px;
}
.wcu-card-description{
    color: #7b8794;
    font-family: "Tahoma";
    font-size: 16px;
}
.wcu-span{
    color: black;
    font-weight: 700;
    font-style: italic;
}
.explore-menu-section{
    background-color: white;
}
.explore-menu-heading{
    font-family: "Tahoma";
    font-size: 28px;
    font-weight: 700;
    color: #183b56;

}
.menu-item-image{
    border-radius: 16px;
    height: 304px;
    width: 290px;
}
.menu-card-title{
     font-family: "Tahoma";
    font-size: 18px;
    font-weight: 500;
    color: #323f4b;
    margin-top: 24px;

}
.menu-item-link{
    font-family: "Tahoma";
    color: #d0b200;
    font-weight: 500;
}
.menu-item-card{
    border-radius: 26px;
    
}
.healthy-food-section{
    background-color: #f9fefb;
}
.healthy-food-section-image{
    width: 270px;

}
.healthy-food-section-heading{
    font-family: "Tahoma";
    color: #183b56;
    font-size: 26px;
    font-weight: 700;
}
.healthy-food-section-description{
    color: #5a7184;
    font-family: "Tahoma";
    font-size: 16px;
}